<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
</head>
<body>
    <div> 
        <h3>Оформление заказа</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.LookId" name="LookId" />
            <input type="text" name="Person" value="ФИО"/>
            <input type="text" name="Address" value="Адрес" />
            <input type="submit" value="Оформить" />
        </form>


    </div>
</body>
</html>
